.PlayerRow {
    padding: 1vw 0vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.DrinksRow {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    align-items: center;
}

.DrinkSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DrinkInfo {
    margin: 0 1vw;
    text-align: left;
}
