.ButtonWrapper button {
  background-color: rgb(56, 53, 255);
  border-color: #ffffff;
  color: #ffffff;
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 2vw;
  border-radius: 25px;
}
.ButtonWrapper h1 {
  padding: 0px;
  font-size: 1rem;
  text-transform: uppercase;
}
.ButtonWrapper button:hover {
  background-color: rgb(110, 108, 255);
  cursor: pointer;
}

.ButtonWrapper button:active,
.ButtonWrapper button:focus {
  outline: none;
}
